{% extends "base.html" %}
{% block body %}
<section>
    <h1>Log inn</h1>
    {% from "_form_helper.html" import render_field %}
    <form method="post">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.login_type) }}
        </dl>

        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for("sign_up")}}">Sign up</a><br>
    <a href="{{ url_for("edit_list")}}">Quiz List</a><br>
    <a href="{{ url_for("edit_question")}}">Question site</a>
</section>
{% endblock %}