{% extends "base.html" %}
{% block body %}

<section>
    <a href="{{ url_for("edit_list")}}">Go back to quiz list</a><br> 
    <form method="post" action={{ url_for("configure_quiz", quizid = quizInfo[0][2])}} >
        <h2>Quiz</h2>
        <input type="text" id="quizName" name="quizName" value="{{ quizInfo[0][0] }}">
        <h2>Theme</h2>
        <input type="text" id="quizTheme" name="quizTheme" value="{{ quizInfo[0][1] }}"><br>
        <input type="submit">
    </form>
    <h1>Make questions: </h1>
    {% from "_form_helper.html" import render_field %}
    <form method="post">
        <div id="MakeQuizContainer">
            <div id="Questions">
                {{ render_field(form.question) }}
                {{ render_field(form.answer1) }}
                {{ render_field(form.answer2) }}
                {{ render_field(form.answer3) }}
                {{ render_field(form.answer4) }}
            </div>
            <div id="QuestionsRadio">
                {{ render_field(form.correctAnswer) }}
            </div>
        </div>
        <input type="submit" value="add question">
    </form>
    <h2>Question List:</h2>
    <table>
        <tr>
            <th>Question nr.</th>
            <th>Question</th>
            <th>Actions</th>
        </tr>
        {% for i in range(quiz_len) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ questionList[i][0] }}</td>
                <td>
                    <a href=/edit/quiz{{ questionList[0][2]}}/question{{ questionList[i][1] }}>Edit</a>
                    <br>
                    <a href=delete/question/{{ questionList[i][1] }}/{{ questionList[0][2] }}>Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</section>

{% endblock %}