{% extends "base.html" %}
{% block body %}

<section>
    <h1>Make questions: </h1>
    {% from "_form_helper.html" import render_field %}
    <form method="post">
        {{ render_field(form.question) }}
        {{ render_field(form.answer1) }}
        {{ render_field(form.answer2) }}
        {{ render_field(form.answer3) }}
        {{ render_field(form.answer4) }}
        {{ render_field(form.correctAnswer) }}
        <input type="submit" value="add question">
    </form>
    <h2>Question List:</h2>
    <table>
        <tr>
            <th>Question nr.</th>
            <th>Question</th>
            <th>Actions</th>
        </tr>
        {% for (question, questionNr, Quiz) in questionList %}
            <tr>
                <td>{{ questionNr }}</td>
                <td>{{ question }}</td>
                <td>
                    <a href=update>Maybe</a>
                    <br>
                    <a href=delete/question/{{ questionNr }}/{{ Quiz }}>Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</section>

{% endblock %}