{% extends "base.html" %}
{% block body %}

<section>
    <a href="{{ url_for("edit_quiz", id = info[0][6])}}">Back to question list</a><br>
    <h1>
        Question:
    </h1>
    
    
    <form method="post" action={{ url_for("edit_question", quizid = info[0][6], questionid = questionID)}}>
        
        {{ form.question(value=info[0][0])|safe }}
        <!-- <input type="text" id="question" name="question" value="{{ info[0][0] }}"> -->
        <table>
            <tr>
                <th>Nr.</th>
                <th>Answers</th>
                <th>Check Correct</th>
            </tr>
            <tr>
                <td>1</td>
                <td>{{ form.answer1(value=info[0][1])|safe }}</td>
                <td>idk radiobutons går hær</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{ form.answer2(value=info[0][2])|safe }}</td>
                <td>idk radiobutons går hær</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{ form.answer3(value=info[0][3])|safe }}</td>
                <td>idk radiobutons går hær</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{{ form.answer4(value=info[0][4])|safe }}</td>
                <td>idk radiobutons går hær</td>
            </tr>

            <!-- {% for x in [1, 2, 3, 4] %}
            <tr>
                <td>
                    {{ x }}
                </td>
                <td>
                    <input type="text" id="answer{{ x }}" name="answer{{ x }}" value="{{ info[0][x] }}">
                </td>
                <td>
                    {% if x == info[0][5] %}
                    <input type="radio" id="{{ x }}" name="radio" value="{{ x }}" checked="checked">
                    {% else %}
                    <input type="radio" id="{{ x }}" name="radio" value="{{ x }}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %} -->
        </table>
        <input type="submit">
    </form>
</section>

{% endblock %}