{% extends "base.html" %}
{% block body %}
    <section>
        <table>
            <tr>
                <th>Title:</th>
                <th>Desc:</th>
                <th>Questions:</th>
            </tr>

            {% for i in range(a_q_len)%}
                <tr>
                    <td>{{ all_quizzes[i][1] }}</td>
                    <td>{{ all_quizzes[i][2] }}</td>
                    <td>{{ all_quizzes[i][3] }}</td>
                    <td><a href="{{ url_for("get_question", quiz=all_quizzes[i][0]) }}">PLAY</a></td>
                </tr>
                
            {% endfor %}
        </table>
        <hr><a href="{{ url_for("index")}}">HOME</a>
    </section>

{% endblock %}