{% extends "base.html" %}
{% block body %}
<section>
    <a href="{{ url_for("index")}}">Back to login</a><br>
    <h1>Make a new quiz:</h1>
    {% from "_form_helper.html" import render_field %}
    <form method="POST">
        {{ render_field(form.quizName) }}
        {{ render_field(form.quizTheme) }}
        <input type="submit" value="add quiz">
    </form>
    <h2>Quiz List:</h2>
    <table>
        <tr>
            <th>Quiz nr.</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Questions</th>
            <th>Actions</th>
        </tr>
        {% for (quiz, desc, nr, questions) in quizList %}
            <tr>
                <td>{{ nr }}</td>
                <td>{{ quiz }}</td>
                <td>{{ desc }}</td>
                <td>{{ questions }}</td>
                <td>
                    <a href="{{ url_for("edit_quiz", id=nr) }}">Edit</a>
                    <br>
                    <a href="{{ url_for("delete", id=nr) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>


{% endblock %}